In [2]:
import pickle
file = open("data1000.obj", 'rb')
df = pickle.load(file)
file.close()

In [3]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10842288,JA145527,02/07/2017 06:20:00 PM,058XX N NATOMA AVE,5004,SEX OFFENSE,ATT CRIM SEXUAL ABUSE,PARK PROPERTY,False,False,...,41.0,10.0,17,1130784.0,1938328.0,2017,02/14/2017 03:55:11 PM,41.987039,-87.794344,"(41.987038939, -87.794344469)"
1,5832169,HN642845,09/24/2007 07:00:00 PM,049XX S WESTERN AVE,1305,CRIMINAL DAMAGE,CRIMINAL DEFACEMENT,CTA PLATFORM,False,False,...,12.0,63.0,14,1161186.0,1872062.0,2007,02/28/2018 03:56:25 PM,41.804620,-87.684368,"(41.80462016, -87.684368169)"
2,9151401,HW278537,05/17/2013 10:32:00 AM,003XX E 136TH ST,2014,NARCOTICS,MANU/DELIVER: HEROIN (WHITE),SIDEWALK,True,False,...,9.0,54.0,18,1180808.0,1815116.0,2013,02/10/2018 03:50:01 PM,41.647924,-87.614149,"(41.64792426, -87.614148778)"
3,3283561,HK314478,04/20/2004 08:32:25 PM,053XX W ADAMS ST,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,...,29.0,25.0,14,1140822.0,1898814.0,2004,02/28/2018 03:56:25 PM,41.878429,-87.758399,"(41.87842921, -87.758398522)"
4,2346669,HH639430,09/10/2002 09:00:00 AM,064XX N GREENVIEW AVE,0890,THEFT,FROM BUILDING,RESIDENCE,False,False,...,40.0,1.0,06,1165101.0,1943040.0,2002,02/28/2018 03:56:25 PM,41.999307,-87.667991,"(41.999306783, -87.667990713)"

In [4]:
# to check the data type of dataframe
df.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object